{% extends "base.html" %}

{% block extrahead %}
{% include 'accounts-extrahead.html' %}
{% endblock %}
{% block header %}
{% include 'accounts-header.html' %}
{% endblock %}

{% block title %}Usuario Validado Correctamente{% endblock %}


{% block content %}
<h1>
{% for message in messages %}
   {{ message}}
{% endfor %}
</h1>
<div class="container d-flex security">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-12">
                <div class="form-group row offset-2">
                    <p>Su usuario  <strong><span class="text-danger">&nbsp;{{user}}&nbsp;</span></strong>  fue validado correctamente.</p> 
                </div>
                <div class="form-group row offset-2">
                    <p>Por favor verifique su correo  <strong><p class="user-blue">&nbsp;{{email}}&nbsp;</p></strong>  para finalizar con el cambio de contraseña.</p>
                </div>
            </div>
        </div>
          <div class="row text-center">
                <div class="col-12">
                    <a href="{% url 'login' %}" class="btn btn-success"><i class="fa fa-check"></i> Aceptar</a>
                </div>
            </div>
    </div>
</div>

{% endblock %}