{% extends "base.html" %}

{% block extrahead %}
{% include 'accounts-extrahead.html' %}
{% endblock %}
{% block header %}
{% include 'accounts-header.html' %}
{% endblock %}

{% block title %}{% endblock %}


{% block content %}
<div class="container d-flex security">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-12">
                <div class="form-group row offset-3">
                    <p>El cambio de clave se realizó con exito por favor ingrese al sistema nuevamente.</p> 
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'login' %}" class="btn btn-success"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}