{% extends "base.html" %}

{% block extrahead %}
{% include 'accounts-extrahead.html' %}
{% endblock %}
{% block header %}
{% include 'accounts-header.html' %}
{% endblock %}

{% block title %}Olvido de Contraseña{% endblock %}


{% block content %}
<div class="container d-flex security">
    <div class="container align-self-center">
        <div class="row">
            <div class="col-12 text-center">
                Para poder asegurarnos que es la persona que dice ser debe seguir los siguientes pasos
            </div>
        </div>
        <br>
        <br>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group row offset-3">
                <div class="col-3">
                    <label for="{{ form.username.auto_id }}" class="col-3 offset-4">
                        <strong>{{ form.username.label_tag }}</strong>
                    </label>
                </div>
                <div class="col-4">
                    {{ form.username }}
                </div>
                <div class="col-8 offset-4 form-text text-muted">
                    {% if form.username.help_text %}
                    {{ form.username.help_text|safe }}
                    {% endif %}
                </div>
                <div class="form-control-feedback offset-2">
                    <span class="text-danger align-middle">
                        {{ form.username.errors }}
                    </span>
                </div>
            </div>

            <div class="form-group row offset-3">
                <div class="col-3">
                    <label for="{{ form.dni.auto_id }}" class="col-3 offset-4">
                        <strong>{{ form.dni.label_tag }}</strong>
                    </label>
                </div>
                <div class="col-4">
                    {{ form.dni }}
                </div>
                <div class="col-8 offset-4 form-text text-muted">
                    {% if form.dni.help_text %}
                    {{ form.dni.help_text|safe }}
                    {% endif %}
                </div>
                <div class="form-control-feedback offset-2">
                    <span class="text-danger align-middle">
                        {{ form.dni.errors }}
                    </span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-success"><i class="fa fa-key"></i> Enviar</button>
                </div>
            </div>
        </form>

    </div>

</div>
{% endblock %}

